.cadastro-page {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1;
    background-color: #001F3F;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position: relative;

    background-image: url('./assets/curve.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;

}

.right-panel {
    flex: 0.7;
    background-color: #001F3F;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: auto; 
    height: 100vh; 
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80%;
    max-width: 300px;

    
    
}

input {
    border: none;
    border-radius: 20px;
    padding: 0.75rem 1rem;
    background: #9DD9D2;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;
}

.input-group label {
    color: #9DD9D2;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
}

.input-group input {
    border: none;
    border-radius: 20px;
    padding: 0.75rem 1rem;
    background: #96D3CC;
    font-size: 1rem;
}

.button {
    width: 100%;
    box-sizing: border-box;
}

button.primary {
    background-color: #FFFD74;
    border-radius: 20px;
    padding: 0.75rem;
    cursor: pointer;
    color: #022240;
    width: 309px;
    margin-top: 0.8rem;
    
    
}

.google-btn {
    border: 2px solid #96D3CC;
    border-radius: 20px;
    padding: 0.2rem 0.1rem;
    padding-top: 0.3rem;
    background: none;
    color: #96D3CC;
    width: 65px;
    align-self: center;
    
}

.logo2-img {
    width: 250.5px;
    height: 250.5px;
    object-fit: contain;
    align-self: center;
    padding-top: 4rem;
}

.estudo-img {
    max-height: calc(100vh - 30px); 
    width: auto;
    object-fit: contain;

}

.terms {
    align-self: center;
    color: #96D3CC;
    font-size: 12px;
    padding-bottom: 2rem;
    
}

.cadastro {
    font-size: 26px;
    color: #96D3CC;
}