:root{
    --color1: #fff;
    --color2: #001F3F;
    --color3: #96D3CC;
    --color4: #9DD9D2;
    --color5: #FFFD74;
    --color6: #022240;
    --color7: #FFFEA1;
    --color8: #E6F3FF;
    --color9: #A3E0D9;
    --color10: #EBEC70;
    --color11: #FFBFBF;
    --color12: #33A295;
    --color13: #163656;
    --color14: #0066CC;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    -webkit-font-smoothing: antialiased;
}
body, input, textarea, button, html, h3, h4{
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
body, input, textarea, button, html{
    background-color: var(--color2);
}
button{
    font-weight: 500;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    max-width: 300px;
}

.left-panel {
    flex: 1;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-image: url('./assets/curve.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.google-btn {
    border: 2px solid var(--color3);
    border-radius: 20px;
    padding: 0.2rem 0.1rem;
    padding-top: 0.3rem;
    background: none;
    color: var(--color3);
    width: 65px;
    align-self: center;
    cursor: pointer;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;
}

.input-group label {
    color: var(--color4);
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

input, textarea {
    border: none;
    border-radius: 20px;
    padding: 0.75rem 1rem;
    background: var(--color4);
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.forgot-password {
    align-self: flex-end;
    font-size: 0.875rem;
    color: var(--color3);
    margin-top: 0.25rem;
    text-decoration: none;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline;
}

.button.primary {
    background-color: var(--color5);
    border-radius: 20px;
    padding: 0.75rem;
    cursor: pointer;
    color: var(--color6);
    width: 100%;
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    margin-top: 3rem;
}
.button.primary:hover {
    transform: scale(1.05);
}

.button.secondary {
    background-color: var(--color7);
    border-radius: 20px;
    padding: 0.75rem;
    cursor: pointer;
    color: var(--color6);
    width: 100%;
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}
.button.secondary:hover{
    transform: scale(1.05);
}

.terms {
    align-self: center;
    color: var(--color3);
    font-size: 12px;
    margin-top: 3rem;
}

.logo-img {
    width: 95.5%;
    object-fit: contain;
    align-self: center;
}
.logoClass{
    width: 136.3%;
    position: absolute;
}
.titulo{
    font-size: 1.625rem;
    font-weight: semibold;
    color: var(--color4);
}
.menu{
    width: 90.1%;
    background-color: var(--color8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 50px;
}
header{
    width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 250px;
}
@media (max-width: 1366px) {
    header{
        max-height: 150px;
    }
  }
.nome_user{
    font-weight: semibold;
    color: var(--color5);
    margin-right: 2rem;
}
.rota{
    border-radius: 20px;
    width: 26.11%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 539.92px;
}
.central{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abaHistorico{
    height: 802px;
    width: 90%;
    background-color: var(--color8);
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.tituloHistorico {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--color12);
    padding-top: 30px;
    padding-left: 30px;
}

.listaLaudos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    flex: 1;
    position: relative;
}

.cardLaudo {
    display: flex;
    align-items: center;
    background-color: var(--color12);
    border-radius: 40px;
    padding: 15px 20px;
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.iconeLaudo {
    height: 55px;
    width: 55px;
    margin-right: 20px;
    position: absolute;
    left: 27px;
}

.textoLaudo {
    color: var(--color1);
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 35px;
}

.conteudoHistorico {
    display: flex;
    gap: 40px;
    padding: 0 30px 30px;
}

.visualizadorLaudo {
    flex: 1;
    background-color: var(--color1);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

.imagemLaudo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.menu-links {
  display: flex;
  gap: 60px;
}

.menu-links span {
  color: var(--color5);
  font-size: 20px;
  font-weight: 500;
  position: relative;
  cursor: default;
  transition: all 0.2s ease;
}
.menu-links span:hover{
    cursor: pointer;
}

.menu-links span:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color5);
}

.menu-links .ativo::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color5);
}

.fale-conosco-container{
    height: 721px;
    width: 95.6%;
    background-color: var(--color13);
    color: var(--color1);
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 20px;
}
.divisor-vertical{
    height: 100%;
    width: 1px;
    background-color: var(--color1);
}
.form-fc{
    width: 38%;
}
.btn-form{
    font-size: 1.5625rem;
    background-color: var(--color14);
    width: 100%;
    margin-top: 30px;
    color: var(--color1);
    padding: 10px;
    border-radius: 8px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-form:hover {
    transform: scale(1.02);
}
.item-org{
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.item-org label{
    font-size: 1.3rem;
}
.input-org{
    border: none;
    border-radius: 20px;
    padding: 0.75rem 1rem;
    background: var(--color4);
    font-size: 1rem;
    width: 80px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 10px;
}

.wrapper{
    display: flex;
    margin-top: 15px;
    margin-left: 3%;
}
.collapsible{
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
}
.collapsible input{
    display: none;
}
.collapsible label{
    position: relative;
    font-weight: 600;
    background-color: var(--color1);
    box-shadow: 0 5px 11px rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: var(--color12);
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
    width: 450px
}
.collapsible label:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    background-color: var(--color12);
    transition: all 0.3s ease;
}
.collapsible input:checked + label:after{
    transform: rotate(90deg);
}

.collapsibleText{
    flex-direction: column;
    display: none;
}

.collapsible input:checked ~ .collapsibleText{
    display: flex;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    opacity: 1;
    top: 0;
    color: black;
}

.collapsibleText p{
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--color1);
    box-shadow: 0 5px 11px rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    line-height: 1.4;
    cursor: pointer;
}
.collapsibleText p:hover{
    background-color: var(--color4);
}
.selecionado{
    background-color: var(--color4) !important;
}

.btnSelect{
    width: 450px;
    margin-top: 30px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--color14);
    color: var(--color1);
    font-size: 1.2625rem;
    cursor: pointer;
}
.btnSelect:hover {
    transform: scale(1.02);
}
.btnGerar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color14);
    color: var(--color1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2625rem;
}
.btnGerar:hover{
    transform: scale(1.02);
}
.separador{
    background-color: gray;
    width: 100%;
    height: 1px;
}

.linkLaudo{
    background-color: var(--color14);
    border-bottom: 2px solid transparent;
    padding: 20px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid var(--color1);
}
.linkLaudo:hover{
    transform: scale(1.02);
}