.login-page {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1;
    background-color: #001F3F;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position: relative;

    background-image: url('./assets/curve.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;

}

.right-panel {
    flex: 0.7;
    background-color: #001F3F;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    max-width: 300px;
}

input {
    border: none;
    border-radius: 20px;
    padding: 0.75rem 1rem;
    background: #9DD9D2;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;
}

.input-group label {
    color: #9DD9D2;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
}

.input-group input {
    border: none;
    border-radius: 20px;
    padding: 0.75rem 1rem;
    background: #96D3CC;
    font-size: 1rem;
}

.forgot-password {
    align-self: flex-end;
    font-size: 0.875rem;
    color: #96D3CC;
    margin-top: 0.25rem;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.button.primary {
    background-color: #FFFD74;
    border-radius: 20px;
    padding: 0.75rem;
    cursor: pointer;
    color: #022240;
    
}

.button.secondary {
    background-color: #FFFEA1;
    border-radius: 20px;
    padding: 0.75rem;
    color: #022240;
}

.google-btn {
    border: 2px solid #96D3CC;
    border-radius: 20px;
    padding: 0.2rem 0.1rem;
    padding-top: 0.3rem;
    background: none;
    color: #96D3CC;
    width: 65px;
    align-self: center;
    
}

.yoga-img {
    max-height: calc(100vh - 50px); 
    width: auto;
    object-fit: contain;

}

.logo-img {
    width: 200.5px;
    height: 200.5px;
    object-fit: contain;
    align-self: center;
}

.terms {
    align-self: center;
    color: #96D3CC;
    font-size: 12px;
    margin-top: 3rem;
}
